<app-navbar></app-navbar>
<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">
        Hendrik <span class="text-primary">Boon</span>
      </h1>
      <div class="subheading mb-5">
        Potsdam, Germany
        <a href="mailto:hendrik.boon@gmail.com">hendrik.boon&#64;gmail.com</a>
      </div>
    </div>
  </section>
  <hr class="m-0"/>
  <!-- Old website-->
  <section class="resume-section" id="old_website">
    <div class="resume-section-content">
      <h2 class="mb-5">For good old vibes</h2>
      <div class="subheading mb-3">
        <a href="https://www.hendrikboon.nl/old">the old website</a>
      </div>
    </div>
  </section>
</div>
